@import "./variables.scss";

.root {
  @include list-reset;
  width: 85%;
  margin: 7rem auto 0 auto;
  li {
    text-align: center;
    position: relative;
    h3 {
      @include heading-3;
      margin-top: 3rem;
      margin-bottom: 2rem;
    }
    p {
      @include body;
      margin: 0;
    }
    .circle {
      width: 202px;
      height: 202px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0%);
      opacity: 0.2;
    }
    &:first-child {
      .circle {
        background: linear-gradient(
          to left,
          rgba(93, 2, 2, 0.0001) 0%,
          rgba(93, 2, 2, 0.497569) 100%
        );
      }
    }
    &:nth-child(2) {
      margin: 5rem auto;
      .circle {
        background: linear-gradient(
          to bottom,
          rgba(93, 2, 2, 0.0001) 0%,
          rgba(93, 2, 2, 0.497569) 100%
        );
      }
    }
    &:last-child {
      .circle {
        background: linear-gradient(
          to top,
          rgba(93, 2, 2, 0.0001) 0%,
          rgba(93, 2, 2, 0.497569) 100%
        );
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .root {
    width: 90%;
    li {
      display: flex;
      align-items: center;
      text-align: left;
      .text {
        width: 65%;
        margin-left: 2rem;
        h3 {
          margin-top: 0;
        }
      }
      .circle {
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .root {
    display: flex;
    width: 90%;
    li {
      display: block;
      text-align: center;
      &:nth-child(2) {
        margin: 0 3rem;
      }
      .circle {
        transform: translate(-50%, 0%);
        left: 50%;
      }
      .text {
        margin-left: unset;
        width: 100%;
        h3 {
          margin-top: 3rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1199px) {
  .root {
    width: 80%;
  }
}
