@import "./variables.scss";

.root {
  position: relative;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
  background-color: $peach;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
  text-align: center;
  background-repeat: no-repeat;
  background-image: url("../public/assets/web-design/desktop/bg-pattern-intro-web.svg");
  background-size: 250%;
  background-position: right top;
  h1 {
    @include heading-1_mobile;
    color: $white;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .icon {
    color: $white;
    font-size: 3rem;
  }
}

@media screen and (min-width: 500px) {
  .root {
    width: 90%;
    margin-top: 8rem;
    border-radius: 8px;
    padding: 7% 10%;
    background-size: 100%;
    background-position-x: right;
    background-position-y: 50%;
  }
}

@media screen and (min-width: 695px) {
  .root {
    flex-direction: row;
    justify-content: flex-start;
    h1 {
      @include heading-1;
      color: $white;
      margin: 0;
      margin-left: 2rem;
    }
  }
}

@media screen and (min-width: 992px) {
  .root {
    margin-top: 10rem;
    background-size: 75%;
  }
}

@media screen and (min-width: 1199px) {
  .root {
    width: 80%;
  }
}
