@import "./variables.scss";

.root {
  @include list-reset;
  margin: 7rem auto 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
}

.content {
  border-radius: 8px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  h2 {
    @include heading-2_mobile;
    color: $white;
    margin-top: 0;
  }
  h3 {
    @include heading-3_mobile;
    color: $white;
    margin: 0;
    .icon {
      color: $peach;
    }
  }
  &_web {
    background-image: $gradient_1,
      url("../public/assets/home/mobile/image-web-design.jpg");
    &:hover {
      background-image: $gradient_2,
        url("../public/assets/home/mobile/image-web-design.jpg");
    }
  }
  &_app {
    background-image: $gradient_1,
      url("../public/assets/home/mobile/image-app-design.jpg");
    &:hover {
      background-image: $gradient_2,
        url("../public/assets/home/mobile/image-app-design.jpg");
    }
  }
  &_graphic {
    background-image: $gradient_1,
      url("../public/assets/home/mobile/image-graphic-design.jpg");
    &:hover {
      background-image: $gradient_2,
        url("../public/assets/home/mobile/image-graphic-design.jpg");
    }
  }
}

@media screen and (min-width: 550px) {
  .content {
    &_web {
      background-image: $gradient_1,
        url("../public/assets/home/tablet/image-web-design.jpg");
      &:hover {
        background-image: $gradient_2,
          url("../public/assets/home/tablet/image-web-design.jpg");
      }
    }
    &_app {
      background-image: $gradient_1,
        url("../public/assets/home/tablet/image-app-design.jpg");
      &:hover {
        background-image: $gradient_2,
          url("../public/assets/home/tablet/image-app-design.jpg");
      }
    }
    &_graphic {
      background-image: $gradient_1,
        url("../public/assets/home/tablet/image-graphic-design.jpg");
      &:hover {
        background-image: $gradient_2,
          url("../public/assets/home/tablet/image-graphic-design.jpg");
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .root {
    grid-template-columns: repeat(2, calc(100% / 2.0443623));
    column-gap: calc(0.0443623 * (100% / 2.0443623));
    li {
      &:first-child {
        grid-row: 1 / 3;
        grid-column: 1;
      }
      &:nth-child(2) {
        grid-row: 1;
        grid-column: 2;
        margin: 0;
      }
      &:nth-child(3) {
        grid-row: 2;
        grid-column: 2;
      }
    }
    &_category_page {
      margin-top: 5rem;
      margin-bottom: 0;
      li {
        &:first-child {
          grid-row: 1;
        }
        .content {
          background-image: $gradient_1,
            url("../public/assets/home/desktop/image-web-design-small.jpg");
          &:hover {
            background-image: $gradient_2,
              url("../public/assets/home/desktop/image-web-design-small.jpg");
          }
        }
      }
    }
  }
  .content {
    &_web {
      //image aspect ratio: 541/640
      width: 100%;
      //height: calc((640 / 541) * (90vw / 2.0443623));
      margin: 0;
      background-image: $gradient_1,
        url("../public/assets/home/desktop/image-web-design-large.jpg");
      &:hover {
        background-image: $gradient_2,
          url("../public/assets/home/desktop/image-web-design-large.jpg");
      }
    }
    &_app {
      //image aspect ratio: 541/308
      width: 100%;
      //height: calc((308 / 541) * (90vw / 2.0443623));
      background-image: $gradient_1,
        url("../public/assets/home/desktop/image-app-design.jpg");
      margin: 0;
      &:hover {
        background-image: $gradient_2,
          url("../public/assets/home/desktop/image-app-design.jpg");
      }
    }
    &_graphic {
      //image aspect ratio: 541/308
      width: 100%;
      //height: calc((308 / 541) * (90vw / 2.0443623));
      margin: 0;
      background-image: $gradient_1,
        url("../public/assets/home/desktop/image-graphic-design.jpg");
      &:hover {
        background-image: $gradient_2,
          url("../public/assets/home/desktop/image-graphic-design.jpg");
      }
    }
  }
}

@media screen and (min-width: 1199px) {
  .root {
    width: 80%;
  }
}
