@import "./variables.scss";

.root {
  margin: 5rem auto;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 90%;
  .links {
    a {
      @include button-on-light;
      margin: auto;
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        margin-right: 1rem;
      }
    }
  }
  button {
    @include button-on-light;
    .icon {
      margin-right: 1rem;
    }
  }
}

@media screen and (min-width: 1199px) {
  .root {
    width: 80%;
  }
}
