@import "./variables.scss";

.root {
  background-color: $black;
  padding: 16rem 0 5rem 0;
  &_contact {
    padding-top: 5rem;
  }
}

.content {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  .home_link {
    display: block;
    height: 33.416px;
  }
  hr {
    opacity: 0.5;
    margin: 2rem 0;
  }
  .hr_desktop {
    display: none;
  }
  ul {
    @include list-reset;
    margin-bottom: 2rem;
    li {
      margin: 1rem;
      a {
        @include heading-3;
        color: $white;
        &:hover {
          color: $peach;
        }
      }
    }
  }
  p {
    @include body;
    color: $white;
    margin: initial;
    a:hover {
      color: $peach;
      opacity: 1;
    }
  }
}

.icon {
  color: $peach;
  margin: 0 0.5rem;
  font-size: 2rem;
  &:hover {
    color: $light-peach;
  }
}

.contact,
.address {
  margin: 2rem 0;
  opacity: 0.5;
}

.address > p:first-child,
.contact > p {
  font-weight: 700;
}

@media screen and (min-width: 670px) {
  .root {
    padding-top: 12rem;
    &_contact {
      padding-top: 5rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .content {
    text-align: left;
    .logo_menu_container {
      display: flex;
      align-items: center;
    }
    ul {
      display: flex;
      justify-content: flex-end;
      margin-left: auto;
      margin-bottom: 0;
      align-items: center;
      li {
        margin: 0;
        &:nth-child(2) {
          margin: 0 1.5rem;
        }
        &:nth-child(3) {
          margin-right: 1.5rem;
        }
        a {
          @include heading-4;
          color: $white;
        }
      }
    }
    .hr_desktop {
      display: block;
    }
    .hr_mobile {
      display: none;
    }
    .address_contact_social_container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .contact,
      .address {
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 910px) {
  .root {
    padding-top: 10rem;
    &_contact {
      padding-top: 5rem;
    }
  }
}

@media screen and (min-width: 1199px) {
  .content {
    width: 80%;
  }
}
