@import "./variables.scss";

.root {
  background-color: $peach;
  background-image: url("../public/assets/web-design/desktop/bg-pattern-intro-web.svg");
  background-repeat: no-repeat;
  background-size: 240%;
  background-position: center right;
  text-align: center;
  width: 90%;
  margin: auto;
  padding: 0 10%;
  border-radius: 8px;
  height: 25.1rem;
  position: relative;
  top: 12.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -5.3rem;
  h1 {
    @include heading-1_mobile;
    color: $white;
    margin-top: 0;
  }
  p {
    @include body;
    color: $white;
  }
  button {
    @include button-on-dark;
    margin: 2rem auto 0 auto;
  }
}

@media screen and (min-width: 670px) {
  .root {
    background-position: center left;
    background-size: 120%;
    width: 90%;
    padding: 0 16%;
    top: 6.275rem;
    margin-top: 0.725rem;
    h1 {
      @include heading-2;
      color: $white;
      padding: 0 10%;
    }
  }
}

@media screen and (min-width: 910px) {
  .root {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 0 8% 0 0;
    height: 16rem;
    background-size: 80%;
    background-position: center right;
    top: 4rem;
    margin-top: 3rem;
    .text {
      width: 50%;
      padding-left: 8%;
      display: flex;
      border-radius: 8px;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      h1 {
        text-align: left;
        padding: 0;
        margin-bottom: 0.5rem;
      }
      p {
        margin-bottom: 0;
      }
    }
    button {
      margin: 0;
    }
  }
}

@media screen and (min-width: 992px) {
  .root {
    margin-top: 6rem;
  }
}

@media screen and (min-width: 1199px) {
  .root {
    width: 80%;
  }
}
