@import "./variables.scss";

.root {
  margin-top: 5rem;
  background-color: $peach;
  background-image: url("../public/assets/home/desktop/bg-pattern-hero-home.svg");
  background-repeat: no-repeat;
  background-position-y: 5rem;
  text-align: center;
  min-height: calc(100vh - 5rem);
  max-width: 100vw;
  overflow: hidden;
  position: relative;
  padding: 0 1.5rem;
  z-index: 0;
  h1,
  p,
  button {
    z-index: 1;
    position: relative;
    top: 5rem;
  }
  h1 {
    @include heading-1_mobile;
    color: $white;
    margin: 0;
  }
  p {
    @include body;
    color: $white;
    margin: 2rem 0;
  }
  button {
    @include button-on-dark;
  }
}

.image_container {
  position: relative;
  width: 40rem;
  height: 35rem;
  left: 50%;
  transform: translate(-50%, 0%);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .root {
    width: 90%;
    margin: 8rem auto 0 auto;
    border-radius: 8px;
    padding: 0 10%;
    background-position-y: 8rem;
    background-position-x: 8rem;
    min-height: unset;
    h1 {
      @include heading-1;
      color: $white;
    }
  }
}

@media screen and (min-width: 992px) {
  .root {
    height: 60vw;
    max-height: calc(737px - 9rem);
    padding: 5% 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-position-y: 0;
    background-position-x: right;
    .text {
      min-width: 50%;
      max-width: 50%;
      padding-left: 5%;
      h1,
      p,
      button {
        position: static;
        text-align: left;
      }
    }
  }

  .image_container {
    position: relative;
    width: 50%;
    height: 55rem;
    left: unset;
    right: 0;
    transform: translate(0%, 10%);
    overflow: hidden;
  }
}

@media screen and (min-width: 1199px) {
  .root {
    width: 80%;
  }
}
