@import "./variables.scss";

.root {
  position: relative;
  margin: auto;
  margin-bottom: 5rem;
  ul {
    @include list-reset;
  }
  .loading_message,
  .error_message,
  .empty_message {
    text-align: center;
    padding: 2rem;
    .icon {
      font-size: 2rem;
      color: $peach;
    }
    p {
      @include body;
    }
  }
}

.list_header {
  display: flex;
  background-color: $peach;
  padding: 1rem 1rem 1rem 3.25rem;
  p {
    @include body;
    margin: 0;
    color: $white;
    font-weight: 500;
  }
  .date,
  .name {
    width: 35%;
    margin-right: auto;
  }
  .email,
  .phone,
  .message {
    display: none;
  }
  button {
    @include button-reset;
    font-size: 1rem;
    color: $white;
    width: 1rem;
  }
}

.actions_container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  right: 1rem;
  top: 3rem;
  z-index: 1;
  width: 12rem;
  button {
    @include button-reset;
    @include body;
    background-color: $light-gray;
    width: 100%;
    text-align: left;
    padding: 0.5rem 1rem;
    &:hover {
      background-color: $light-peach;
    }
    &:disabled {
      color: $black-transparent;
      pointer-events: none;
    }
  }
  .sort_by_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sort_by_actions {
    overflow: hidden;
    transition: height 0.3s ease-out;
    height: 7.875rem;
    width: 100%;
    button {
      padding-left: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &_hidden {
      height: 0rem;
    }
  }
}

@media screen and (min-width: 500px) {
  .root {
    width: 90%;
    margin: auto;
    margin-bottom: 5rem;
    border-radius: 8px;
    overflow: hidden;
  }
}

@media screen and (min-width: 650px) {
  .list_header {
    .date {
      width: 20%;
    }
    .name,
    .email {
      display: block;
      width: 30%;
      margin-right: auto;
    }
  }
}

@media screen and (min-width: 992px) {
  .list_header {
    .date {
      width: 15%;
    }
    .name,
    .email {
      width: 20%;
    }
    .phone {
      width: 15%;
      display: block;
      margin-right: auto;
    }
  }
}

@media screen and (min-width: 1199px) {
  .root {
    width: 80%;
  }
}
