@import "./variables.scss";

.root {
  @include list-reset;
  margin: 7rem auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  row-gap: 5vw;
}

@media screen and (min-width: 768px) {
  .root {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
  }
}

@media screen and (min-width: 992px) {
  .root {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5%;
  }
}

@media screen and (min-width: 1199px) {
  .root {
    width: 80%;
  }
}
