$peach: hsl(11, 73%, 66%);
$light-peach: hsl(11, 100%, 80%);
$extra-light-peach: #fdf3f0;
$black: hsl(270, 3%, 11%);
$black-transparent: hsla(270, 3%, 11%, 0.5);
$dark-gray: hsl(264, 5%, 20%);
$white: hsl(0, 0%, 100%);
$white-transparent: hsla(0, 0%, 100%, 0.5);
$light-gray: hsl(210, 17%, 95%);
$gradient_1: linear-gradient(hsla(270, 3%, 11%, 0.5), hsla(270, 3%, 11%, 0.5));
$gradient_2: linear-gradient(hsla(11, 73%, 66%, 0.5), hsla(11, 73%, 66%, 0.5));

@mixin shadow-bottom-1 {
  box-shadow: 0px 5px 5px hsla(270, 3%, 11%, 0.5);
}

@mixin heading-1 {
  font-family: Jost;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.5rem;
  color: $black;
}

@mixin heading-2 {
  font-family: Jost;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
  //letter-spacing: 0.125rem;
  color: $black;
}

@mixin heading-3 {
  font-family: Jost;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.625rem;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
  color: $dark-gray;
}

@mixin heading-4 {
  font-family: Jost;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 0.875rem;
  letter-spacing: 0.125rem;
  color: $dark-gray;
  text-transform: uppercase;
}

@mixin heading-1_mobile {
  font-family: Jost;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.25rem;
  text-align: center;
  color: $dark-gray;
}

@mixin heading-2_mobile {
  font-family: Jost;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2.25rem;
  text-align: center;
  letter-spacing: 0.0875rem;
  color: $dark-gray;
  text-transform: uppercase;
}

@mixin heading-3_mobile {
  font-family: Jost;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
  color: $dark-gray;
}

@mixin body {
  font-family: Jost;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  color: $dark-gray;
}

@mixin list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin button-reset {
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

@mixin button-default {
  border-radius: 0.5rem;
  font-family: Jost;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  cursor: pointer;
  border: none;
}

@mixin button-on-dark {
  @include button-default;
  background-color: $white;
  color: $dark-gray;
  &:hover {
    color: $white;
    background-color: $light-peach;
  }
}

@mixin button-on-light {
  @include button-default;
  background-color: $peach;
  color: $white;
  &:hover {
    background-color: $light-peach;
  }
}

@mixin textfield {
  position: relative;
  input[type="text"],
  textarea {
    color: $white;
    background-color: transparent;
    width: 100%;
    border: none;
    padding: 0.5rem 0 0.5rem 0.75rem;
    font-family: Jost;
    font-weight: 500;
    font-size: 0.9375rem;
    outline: none;
    border-bottom: 2px solid $white;
    margin-bottom: 2rem;
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $white-transparent;
      border-width: 1px;
      opacity: 1; /* Firefox */
    }
    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $white-transparent;
      border-width: 1px;
    }
    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $white-transparent;
      border-width: 1px;
    }
  }
  p.error_message {
    margin: 0;
    position: absolute;
    bottom: 0.5rem;
    right: 0;
    font-family: Jost;
    font-style: italic;
    font-weight: 400;
    font-size: 0.75rem;
    color: $white;
    display: flex;
    align-items: center;
    .icon {
      margin-left: 0.5rem;
      font-size: 1.25rem;
    }
  }
  &.textarea_container {
    padding: 0.5rem 0 0.5rem 0.75rem;
    border-bottom: 2px solid $white;
    margin-bottom: 3rem;
    &_empty {
      border-bottom: 1px solid $white;
    }
    textarea {
      resize: none;
      overflow: hidden;
      padding: 0;
      margin: 0;
      border: none;
    }
    p.error_message {
      bottom: -1.625rem;
    }
  }
}
